a{
    text-decoration: none;
}

.div1{
    background-color: #34495e;
    margin-top: -10px;
    width: 1350px;
    margin-left: -6px;
}
.div2{
    background-color: #c0392b;
    width: 1350px;
    margin-left: -6px;
}
.team1{
    margin-left: -6px;
}
.img-adidas{
    margin-left: 1000px;
}
.nav-a{
    padding-left: 70px;
    margin-top: -400px;
    line-height: 10px;
    font-size: 40px;
    color: white;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.main-logo{
    margin-left: 77;
    margin-top: 66;
}
.p-2{
    font-size: 50px;
    font-family: fantasy;
    color: white;
    margin-top: -80px;
    width: 600px;
    background-color: #c0392b;
    color:white;
    text-shadow: black;
}
.h-2{
    margin-left: 89px;
    font-size: 50px;
    font-family:"BPG Nino Mtavruli", sans-serif;
    color: #c0392b;

}
.ole-1{
    margin-left: 89px;
    margin-top: -20px;
}
.square1{
    height: 357px;
    width: 1000px;
    
}
.p-10{
    margin-left: 412px;
    margin-top: -320px;
    font-size: 26px;
    font-family:"BPG Nino Mtavruli" , sans-serif;
}
.p-11{
    margin-left: 412px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.p-12{
    margin-left: 412px;
    margin-top: 150px;
    font-family:"BPG Nino Mtavruli", sans-serif;
}
.p-13{
    margin-left: 800px;
    margin-top: -40px;
    color: black;
    
}
.p-14{
    margin-left: 1000px;
    margin-top: -450px;
    font-size: 36px;
    color: #c0392b;
    font-family:"BPG Nino Mtavruli", sans-serif; 
}
.p-15{
    margin-left: 1000px;
    margin-top: -20px;
    font-family:"BPG Nino Mtavruli", sans-serif;
}
.p-16{
    margin-left: 1000px;
    margin-top: 200px;
    font-size: 36px;
    font-family:"BGP Nino Mtavruli", sans-serif;
    color: #c0392b;
}
.img-20{
    margin-left: 1250px;
}
.time-1{
    margin-top: -20px;
}
.border-1{
    height: 70px;
}
.div-10{
    width: 100px;
    margin-left: 412px;
    margin-top: -200px;
    display: inline-block;
}
.a-1{
    color: black;
    font-family: "BPG Nino Mtavruli" , sans-serif;
}
.border-20{
    width: 900px;
    height: 360px;   
}
.line-1{
    margin-left: 412px;
    margin-top: -460px;
    color: #c0392b;
}
.line-2{
    width: 105px;
    margin-left: 570px;
    margin-top: -330px;
}
.footer-1{
    margin-top: 1000px;
}
.mimoxilva{
    margin-top: 380px;
    margin-left: 89px;
    font-size: 50px;
    font-family:"BPG Nino Mtavruli", sans-serif;
    color: #c0392b;
}

.video-p{
    font-family:"BPG Nino Mtavruli", sans-serif;
    margin-left: 570px; 
    margin-top: 50px; 
    font-size: 20px; 
}
.video-p1{
    margin-left: 570px;
    margin-top: -200px;
    font-family:"BPG Nino Mtavruli", sans-serif;
    
}
.video-p2{
    margin-left: 570px;
    margin-top: 130px;
    font-family:"BPG Nino Mtavruli", sans-serif;
}
.video-p3{
    margin-left: 870px;
    margin-top: -38px;
    color: black;
    font-family:"BPG Nino Mtavruli", sans-serif;
}
.video-p4{
    color: black;
}
.video-2{
    margin-left: 89px;
    margin-top: -90px;
}
.table-1{
    width: 200px;
    margin-top: 10px;
    margin-left: 1000px;
}
.th-1{
    font-family:"BPG Nino Mtavruli", sans-serif;
    display: inline-flex;
}
.th-2{
    font-family:"BPG Nino Mtavruli", sans-serif;
}
.arrow-1{
    font-family:"BPG Nino Mtavruli",sans-serif;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 1200px;
}
.standing-1{
    color: black;
}
